In [2]:
import pandas as pd
from collections import namedtuple

# Item = namedtuple('Patient', 'AdminDate','Drug')
# items = []

df = pd.read_csv('/Users/prateekmasali/Desktop/data.txt', sep=",", names=['Patient', 'AdminDate','Drug'])

print(df)

  Patient   AdminDate          Drug
0    A123  2014-01-01           5FU
1    A123  2014-01-02  fluorouracil
2    B456  1990-06-01  fluorouracil
3    A123  2014-01-02   oxaliplatin
4    B456  1990-06-01   oxaliplatin
5    A125  2014-01-02  fluorouracil

In [10]:
df = df.drop_duplicates()
df # removing all the duplicated (if any) from a single day for the same patient with same drug

  Patient   AdminDate          Drug
0    A123  2014-01-01           5FU
1    A123  2014-01-02  fluorouracil
2    B456  1990-06-01  fluorouracil
3    A123  2014-01-02   oxaliplatin
4    B456  1990-06-01   oxaliplatin
5    A125  2014-01-02  fluorouracil

In [41]:
df1 = df.groupby(['Patient','AdminDate','Drug']).count()
df1 # for visualizing for a single patient on a specific AdminDate, what all Drugs were taken

Empty DataFrame
Columns: []
Index: [(A123, 2014-01-01, 5FU), (A123, 2014-01-02, fluorouracil), (A123, 2014-01-02, oxaliplatin), (A125, 2014-01-02, fluorouracil), (B456, 1990-06-01, fluorouracil), (B456, 1990-06-01, oxaliplatin)]

In [42]:
df2 = df.groupby(['Patient','AdminDate']).size()
df2

Patient  AdminDate
A123     2014-01-01    1
         2014-01-02    2
A125     2014-01-02    1
B456     1990-06-01    2
dtype: int64

In [47]:
df3 = df.groupby(['Patient','AdminDate','Drug']).size().unstack(fill_value=0)
print (df3)

Drug                5FU  fluorouracil  oxaliplatin
Patient AdminDate
A123    2014-01-01    1             0            0
        2014-01-02    0             1            1
A125    2014-01-02    0             1            0
B456    1990-06-01    0             1            1

In [53]:
df3

Drug                5FU  fluorouracil  oxaliplatin
Patient AdminDate
A123    2014-01-01    1             0            0
        2014-01-02    0             1            1
A125    2014-01-02    0             1            0
B456    1990-06-01    0             1            1